
<p id="notice"><%= notice %></p>

<div id="page">

  <div class="post clearfix">
    <h1>Recipes</h1>

    <div class="entry">
        <table border="1">
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          <% @recipes.each do |recipe| %>
          <tr>
            <td><%=image_tag(recipe.image(:thumb))%></td>
            <td><%=recipe.title %></td>
            <td><%=truncate(strip_tags(recipe.description), :length=>80) %></td>
            <td><%=link_to 'Edit', edit_recipe_path(recipe)%> | <%=link_to 'Delete', recipe, :confirm=>'Are you sure?', :method=>:delete %> </td>
          </tr>
          <%end%>
        </table>
    </div>
  </div>
</div>


<%= link_to 'New recipe', new_recipe_path %>