<p id="notice"><%= notice %></p>

  <div class="post clearfix">
    <h1><%= @recipe.title %></h1>

    <div class="recipe-text">
      <div class="entry">
        <div class="thumbnail-large">
          <%= image_tag(@recipe.image(:medium), :alt => @recipe.title) %>
        </div>

        <h3>Directions</h3>

        <% if @directions != nil %>
            <%
             @directions.count.times do |i| %>
            <p>
              <%= "#{i+1}. #{@directions[i]}"  %>
            </p>
        <% end %>
        <% end %>
      </div>

      <h3>Advice</h3>
      <%=@recipe.advice%>
    </div>

    <div class="recipe-meta">

      <div class="ingredients">
        <h2>Ingredients</h2>


        <% (1..10).each do |n| %>

            <% if n ==  params[:current_serving].to_i %>
               <b> <%=n%> </b>
            <%else%>
                <%= link_to n, scale_recipe_path(:current_serving => n)  %>
            <%end%>




        <%end%>

        <%= form_for scale_recipe_path(@recipe),  url: {action: "scale"} do |f| %>
           <input name="current_serving" type="text">
         <%end%>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
              <% if ingredient.allow_scale %>
                <li><%= "#{ingredient.description}: #{ingredient.quantity_scaled(@recipe.current_serving)} #{ingredient.um}"%> </li>
             <%else%>
                  <li><%= "#{ingredient.description} #{ingredient.um}"%> </li>
             <%end%>
          <%end%>
        </ul>
      </div>

      <div class="meta">
        <%= render(@recipe.categories) %>
      </div>

      <div class="serves serves-<%=@recipe.serving%>">Serves Four</div>
      <div class="timer"><%=@recipe.preparation_time%></div>

    </div>

  </div>


